/* .c-slick
---------------------------------------------------------------*/
& {
    @r: ~ '.c-slick';

    // base
    //-----------------------------------------------------------
    @{r} {
        display: none;
        margin-left: -@gap;
        margin-right: -@gap;
        animation-name: fadeIn;
        animation-duration: 1s;
        animation-fill-mode: both;

        @media (max-width: 1151px) {
            display: flex;
            overflow-x: auto;
            overflow-y: hidden;
        }

        @media (min-width: 1152px) {
            margin-left: -@gap / 2;
            margin-right: -@gap / 2;
        }

        &__item {
            flex: none;
            position: relative;
            padding-left: @gap;

            @media (min-width: 1152px) {
                padding: @gap;
                vertical-align: top;
            }
        }

        &__next,
        &__prev {
            display: flex;
            align-items: center;
            justify-content: center;
            top: 0;
            bottom: 0;
            z-index: 1;
            width: 20px;
            height: 40px;
            margin: auto;
            font-size: 12px;
            cursor: pointer;
            position: absolute;
            border-radius: 100%;
            background-color: @white;
            transition: .3s;

            @media (min-width: 768px) {
                width: 40px;
                box-shadow: 0 0 4px rgba(0,0,0,.2);
            }

            &:hover {

                @media (min-width: 1152px) {
                    box-shadow: 0 0 4px rgba(0,0,0,.4);
                }
            }
        }

        &__prev {
            left: 0;
            padding-right: 6px;
            border-top-left-radius: 0;
            border-top-right-radius: 100% 50%;
            border-bottom-right-radius: 100% 50%;
            border-bottom-left-radius: 0;

            @media (min-width: 768px) {
                padding-right: 0;
                border-radius: 100%;
            }
        }

        &__next {
            right: 0;
            padding-left: 6px;
            border-top-left-radius: 100% 50%;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 100% 50%;

            @media (min-width: 768px) {
                padding-left: 0;
                border-radius: 100%;
            }
        }

        &__arrow {
            z-index: 1;
            width: @gap;
            height: @gap;
            margin: auto;
            cursor: pointer;
            position: absolute;
            transform: rotate(45deg);
            transition: .3s;
            display: none;

            @media (min-width: 1366px) {
                display: block;
            }

            &--prev {
                top: 0;
                left: -@gap;
                bottom: 0;
                border-left: 2px solid;
                border-bottom: 2px solid;
            }

            &--next {
                top: 0;
                right: -@gap;
                bottom: 0;
                border-top: 2px solid;
                border-right: 2px solid;
            }

            &:hover {
                border-color: @gray-dark;
            }
        }

        &__hotels {

            @{r}__arrow {
                top: 35%;
                bottom: auto;
            }
        }

        &__latest-news {

            @{r}__arrow {
                top: 38%;
                bottom: auto;
            }
        }

        &__gallery {

            @{r}__arrow {

                @media (max-width: 1151px) {
                    display: block;
                }

                &--prev {
                    left: 16px;
                    border-color: @white;
                }

                &--next {
                    right: 16px;
                    border-color: @white;
                }
            }
        }

        &__direction {
            margin: 0;

            // @{r}__arrow {

            //     &--prev {
            //         left: 0;
            //     }

            //     &--next {
            //         right: 0;
            //     }
            // }
        }

        // modifier
        //-------------------------------------------------------
    }

    // influence
    //-----------------------------------------------------------
}