/* .l-container
---------------------------------------------------------------*/
& {
    @r: ~ '.l-container';

    // base
    //-----------------------------------------------------------
    @{r} {
        .mixin-container();

        // modifier
        //-------------------------------------------------------
        &--flex {
            display: flex;
            flex-wrap: wrap;
        }

        &--absolute {
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            position: absolute;
        }
    }

    // influence
    //-----------------------------------------------------------
    .c-search__dropdown @{r} {
        height: 100%;
    }
}