/* .l-row
---------------------------------------------------------------*/
& {
    @r: ~ '.l-row';

    // base
    //-----------------------------------------------------------
    @{r} {
        margin-top: 10px;

        @media (min-width: 1152px) {
            margin-top: 40px;
        }

        &:first-child:not([class*="l-row--mt"]) {
            margin-top: 0;
        }

        // modifier
        //-------------------------------------------------------
        &--flex {
            display: flex;
        }

        &--align-center {
            align-items: center;
        }

        &--between {
            justify-content: space-between;
        }

        &--grow {
            flex-grow: 1;
        }

        &--center {
            display: flex;
            justify-content: center;
            text-align: center;
        }

        &--align-end {
            align-items: flex-end;
        }

        &--mt-0 {
            margin-top: 0;
        }

        &--mt-10 {
            margin-top: 10px;
        }

        &--mt--10 {
            margin-top: -10px;
        }

        &--mt-20 {
            margin-top: 20px;
        }

        &--mt-40 {
            margin-top: 20px;

            @media (min-width: 1152px) {
                margin-top: 40px;
            }
        }

        &--mt-60 {
            margin-top: 60px;
        }

        &--mt-80 {
            margin-top: 40px;

            @media (min-width: 1152px) {
                margin-top: 80px;
            }
        }

        &--max-767-mt-40 {

            @media (max-width: 767px) {
                margin-top: 40px;
            }
        }

        &--max-1151-mt-0 {

            @media (max-width: 1151px) {
                margin-top: 0;
            }
        }

        &--max-1151-mt-10 {

            @media (max-width: 1151px) {
                margin-top: 10px;
            }
        }

        &--min-1152-mt-0 {

            @media (min-width: 1152px) {
                margin-top: 0;
            }
        }

        &--w-1000 {
            max-width: 1000px;
            margin-left: auto;
            margin-right: auto;
        }

        &--bg-gray {
            position: relative;

            > * {
                z-index: 1;
                position: relative;
            }

            &:before {
                content: '';
                position: absolute;
                background-color: #f3f5f8;

                @media (max-width: 767px) {
                    top: -@gap * 3;
                    left: -@gap;
                    right: -@gap;
                    bottom: -@gap * 3;
                }

                @media (min-width: 768px) {
                    top: -@gap * 4;
                    left: 50%;
                    bottom: -@gap * 4;
                    width: 100vw;
                    transform: translateX(-50%);
                }
            }
        }

        &--bg-gray-line {
            position: relative;

            &:before {

                @media (min-width: 1152px) {
                    top: 0;
                    left: 50%;
                    bottom: 0;
                    width: 130vw;
                    height: 55%;
                    margin: auto;
                    content: '';
                    position: absolute;
                    background-color: #f3f5f8;
                    transform: translateX(-50%) rotate(15deg);
                }
            }
        }

        &--bg-gray-max-1151 {

            @media (max-width: 1151px) {
                position: relative;

                > * {
                    z-index: 1;
                    position: relative;
                }

                &:before {
                    top: -@gap;
                    left: -@gap;
                    right: -@gap;
                    bottom: -@gap;
                    content: '';
                    margin: auto;
                    position: absolute;
                    background-color: #f3f5f8;
                }
            }
        }
    }

    // influence
    //-----------------------------------------------------------
}