{% extends '../layout.twig' %}

{% block head_title %}Modal | Planet of Hotels{% endblock %}

{% block body_class %}l-body{% endblock %}

{% block body %}

    <div class="c-modal c-modal--1100 c-modal--active">
        <div class="c-modal__wrap">
            <div class="c-modal__content">
                <div class="l-row">
                    <div class="c-modal__title">
                        Double or Twin Room
                    </div>
                </div>
                <div class="l-row l-row--mt-20 l-row--flex">
                    <div class="c-modal__slider">
                        <div class="c-modal__slider--big c-slick">
                            <img src="images/modal_slider/1.jpg" alt="image">
                            <img src="images/modal_slider/1.jpg" alt="image">
                            <img src="images/modal_slider/1.jpg" alt="image">
                            <img src="images/modal_slider/1.jpg" alt="image">
                            <img src="images/modal_slider/1.jpg" alt="image">
                            <img src="images/modal_slider/1.jpg" alt="image">
                            <img src="images/modal_slider/1.jpg" alt="image">
                            <img src="images/modal_slider/1.jpg" alt="image">
                            <img src="images/modal_slider/1.jpg" alt="image">
                            <img src="images/modal_slider/1.jpg" alt="image">
                            <img src="images/modal_slider/1.jpg" alt="image">
                            <img src="images/modal_slider/1.jpg" alt="image">
                        </div>
                        <div class="c-modal__slider--small c-slick">
                            <img src="images/modal_slider/1.jpg" alt="image">
                            <img src="images/modal_slider/1.jpg" alt="image">
                            <img src="images/modal_slider/1.jpg" alt="image">
                            <img src="images/modal_slider/1.jpg" alt="image">
                            <img src="images/modal_slider/1.jpg" alt="image">
                            <img src="images/modal_slider/1.jpg" alt="image">
                            <img src="images/modal_slider/1.jpg" alt="image">
                            <img src="images/modal_slider/1.jpg" alt="image">
                            <img src="images/modal_slider/1.jpg" alt="image">
                            <img src="images/modal_slider/1.jpg" alt="image">
                            <img src="images/modal_slider/1.jpg" alt="image">
                            <img src="images/modal_slider/1.jpg" alt="image">
                        </div>
                    </div>
                    <div class="c-modal__list">
                        <div class="c-modal__list--row">
                            <div class="c-modal__list--title">
                                Информация о номере
                            </div>
                        </div>
                        <div class="c-modal__list--row">
                            <div class="c-modal__list--text">
                                Двухместный номер с 1 кроватью или 2 отдельными кроватями, кондиционером, электрическим чайником и окном.
                            </div>
                        </div>
                        <div class="c-modal__list--row">
                            <div class="c-modal__list--line"></div>
                        </div>
                        <div class="c-modal__list--row">
                            <div class="c-modal__list--fs-16 c-modal__list--600 c-modal__list--mr-10">
                                Размер номера:
                            </div>
                            <div>
                                21 м²
                            </div>
                        </div>
                        <div class="c-modal__list--row">
                            <div class="c-modal__list--fs-16 c-modal__list--600">
                                Услуги и удобства: ​
                            </div>
                        </div>
                        <div class="c-modal__list--row">
                            <ul class="c-modal__list--column">
                                <li class="c-modal__list--item">
                                    Кофеварка/чайник
                                </li>
                                <li class="c-modal__list--item">
                                    Телефон
                                </li>
                                <li class="c-modal__list--item">
                                    Кондиционер
                                </li>
                                <li class="c-modal__list--item">
                                    Утюг
                                </li>
                                <li class="c-modal__list--item">
                                    Мини-кухня
                                </li>
                                <li class="c-modal__list--item">
                                    Рабочий стол
                                </li>
                                <li class="c-modal__list--item">
                                    Отопление
                                </li>
                                <li class="c-modal__list--item">
                                    Ковровое покрытие
                                </li>
                                <li class="c-modal__list--item">
                                    Сейф для ноутбука
                                </li>
                                <li class="c-modal__list--item">
                                    Телевизор с плоским экраном
                                </li>
                                <li class="c-modal__list--item">
                                    Услуга «звонок-будильник»
                                </li>
                                <li class="c-modal__list--item">
                                    Электрический чайник
                                </li>
                                <li class="c-modal__list--item">
                                    Шкаф или гардероб
                                </li>
                                <li class="c-modal__list--item">
                                    Кофемашина
                                </li>
                                <li class="c-modal__list--item">
                                    Лифт для доступа к верхним этажам
                                </li>
                            </ul>
                        </div>
                        <div class="c-modal__list--row">
                            <div class="c-modal__list--row">
                                <div class="c-modal__list--fs-16 c-modal__list--600 c-modal__list--mr-10">
                                    Курение:
                                </div>
                                <div>
                                    Запрещено
                                </div>
                            </div>
                        </div>
                        <div class="c-modal__list--row">
                            <div class="c-modal__list--row">
                                <div class="c-modal__list--fs-16 c-modal__list--600 c-modal__list--mr-10">
                                    Парковка:
                                </div>
                                <div>
                                    Парковка отсутствует
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="l-row">
                    <div class="c-modal__title c-modal--fw-900">
                        Введите даты чтобы проверить наличие мест
                    </div>
                </div>
                <div class="l-row">
                    <form class="c-modal__form">
                        <div class="c-modal__form--column"></div>
                        <div class="c-modal__form--column"></div>
                        <div class="c-modal__form--column"></div>
                        <div class="c-modal__form--column"></div>
                    </form>
                </div>



                <div class="l-row"></div>

                <div class="c-modal__close"></div>
            </div>
        </div>
    </div>

{% endblock %}